[Desktop Entry]
Actions=QvmFileSetTrust;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory

[Desktop Action QvmFileSetTrust]
Exec=/usr/lib/qubes/qvm-file-set-trust.gnome %U
Icon=kget
Name=Always open in DisposableVM...

