[Desktop Entry]
Categories=
Exec=qvm-open-trust-based %U
GenericName=DisposableVM
Comment=Passes untrusted files to qvm-open-in-dvm cli application
Icon=qubes
MimeType=application/octet-stream;
Name=DisposableVM
Terminal=false
Type=Application
StartupNotify=false

