[Desktop Entry]
Actions=QvmSetUntrusted;QvmSetTrusted;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
X-KDE-Submenu=DisposableVM options

[Desktop Action QvmSetTrusted]
Exec=/usr/bin/qvm-trust -uq %U
Icon=kget
Name=Mark as trusted

[Desktop Action QvmSetUntrusted]
Exec=/usr/bin/qvm-trust -tq %U
Icon=kget
Name=Mark as untrusted
